<nav>
  <a routerLink="/create">New Order</a>
  <a routerLink="/predict">Set Prediction</a>
</nav>

<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Created Till Now</th>
        <th>Predicted</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tablerow of orders">
          <td>{{ tablerow.name }}</td>
          <td>{{ tablerow.quantity }}</td>
          <td>{{ tablerow.created }}</td>
          <td>{{ tablerow.predicted }}</td>
          <td><button class="btn btn-primary" (click)="updateCreated(tablerow._id)">Done</button></td>
      </tr>
    </tbody>
  
</table>