<div class="container">
	<button type="btn btn-primary" (click)="goBack()">Back</button><br>

    
  <div>
    <h1>Set Predicted Value</h1>
    <form #setPrediction="ngForm" (ngSubmit)="onSubmit()" >
      <div class="form-group">
        <label>Choose Order</label>
        <select class="form-control" [ngModel]="model.name" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)">
        	<option [value]="order._id" *ngFor="let order of orders">{{ order.name }}</option>
  		</select>
      </div>
 
      <div class="form-group">
        <label for="prediction">Prediction</label>
        <input type="number" min="1" class="form-control" id="predicted" [(ngModel)]="model.predicted"  name="prediction">
      </div>
 
 
      <button type="submit" class="btn btn-success" [disabled]="!setPrediction.form.valid">Submit</button>
    </form>
  </div>
 
  
</div>

<ngb-alert *ngIf="message && !closed" (close)="closed=true">{{message}}</ngb-alert>
